################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskScheduler/.vs/TaskScheduler
/TaskScheduler/bin/Debug
/TaskScheduler/obj
/ConsoleApp1
/TaskScheduler/bin/Release
/TaskScheduler/.vs/ProjectEvaluation
/RZTask-Test/bin
/RZTask-Test/obj
